<div class= "container-headline">
    <h1>Your Vouchers</h1>
</div>

<div class= "container-body">
    <h3>Valid Vouchers</h3>
</div>

<div class= "container-body">
    <ul>
    <% @vouchers.each do |voucher| %>

        <li>
        <%= image_tag voucher.qrcode_url unless voucher.qrcode_data.nil? %>
        <%= voucher.title %>
        <%= link_to 'Details', deal_path(voucher) %>
        </li>
        
    <% end %>
    </ul>
</div>

<div class= "container-body">
    <h3>Expired Vouchers</h3>
</div>

<div class= "container-body">
    <ul>
    <% @expired_vouchers.each do |voucher| %>

        <li>
        <%= voucher.title %>
        <%= link_to 'Details', deal_path(voucher) %>
        </li>

    <% end %>
    </ul>
</div>