<p id="notice"><%= notice %></p>
<div class= "container-headline">
  <h1>Merchants</h1>
</div>

<div class="container-body">
  <table>
    <tbody>
      <% @merchants.each do |merchant| %>
        <tr>
          <td><%= merchant.name %></td>
          <td><%= link_to 'Show', merchant %></td>
          <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
          <td><%= link_to 'Delete', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container-body">
  <%= link_to 'New Merchant', new_merchant_path %>
</div>