<p id="notice"><%= notice %></p>

<%= link_to 'Create a new deal', new_deal_path(@merchant) if current_user == @merchant.user %>

<p>
  <%= image_tag @merchant.image_url(:thumb) unless @merchant.image.blank?%>
</p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @merchant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @merchant.full_address %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @merchant.website_url %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @merchant.facebook_id %>
</p>


<strong>All Deals:</strong>
    <% @merchant.deals.each do |d|  %>
      <ul>
        <li><%= d.title %> <%= link_to 'View', deal_path(d) %></li>
      </ul>
    <% end %>

  

<%= link_to 'Edit', edit_merchant_path(@merchant) if current_user == @merchant.user %>