<p id="notice"><%= notice %></p>

<h1>Deals</h1>

<%= form_with scope: :deals, method: :get, local: true do |f| %>
  <%= f.label :filter_by_keyword  %>
  <%= f.text_field :search  %>
  <%= f.submit :filter  %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image data</th>
      <th>Original price</th>
      <th>Offer price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= image_tag deal.image_url(:thumb) unless deal.image.blank?%></td>
        <td><%= deal.title %></td>
        <td><%= deal.merchant.full_address %></td>
        <td><%= deal.original_price %></td>
        <td><%= deal.offer_price %></td>
        <td><%= link_to 'VIEW', deal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
