<p id="notice"><%= notice %></p>

<div class= "container-headline">
  <h1>Choose today's deal!</h1>
</div>

<div class="container-filterbar">
  <%= form_with scope: :deals, method: :get, local: true do |f| %>
    <%= f.label :filter_by_keyword  %>
    <%= f.text_field :search  %>
    <%= f.submit :filter  %>
  <% end %>
</div>



<div class= "container-main">
  <% @deals.each do |deal| %>
    <div class="element">
      <div class="image">
      <%= image_tag deal.image_url(:thumb) unless deal.image.blank? %>
      </div>
      <div class="title"><%= deal.title %></div>
      <div class="address"><%= deal.merchant.full_address %></div>
      <div class="original-price">$<%= deal.original_price %></div>
      <div class="offer-price">$<%= deal.offer_price %></div>
      <div class="view"><%= link_to 'VIEW', deal %></div>
    </div>
  <% end %>
</div>

