<p id="notice"><%= notice %></p>
<p>
  <strong>Image data:</strong>
  <%= image_tag @deal.image_url(:thumb) unless @deal.image.blank?%>
</p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @deal.merchant.full_address %>
</p>

<p>
  <strong>Original price:</strong>
  <%= @deal.original_price %>
</p>

<p>
  <strong>Offer price:</strong>
  <%= @deal.offer_price %>
</p>


<p>
  <strong>Shop:</strong>
  <%= @deal.merchant.name %>
  <%= link_to 'More info', merchant_path(@deal) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>



<p>
  <strong>Expiry:</strong>
  <%= @deal.expiry %>
</p>

<p>
  <strong>Left:</strong>
  <%= @deal.quantity %>
</p>

<p>
  <strong>Voucher limit per user:</strong>
  <%= @deal.voucher_limit_per_user %>
</p>

<%= link_to 'GET', apply_deal_path(@deal), method: :post unless current_user == @deal.merchant.user %>
<!-- <%= link_to 'Get Voucher', vouchers_path(@deal), method: :get %> -->


<%= link_to 'Edit', edit_deal_path(@deal) if current_user == @deal.merchant.user %>
<%= link_to 'Destroy', @deal, method: :delete, data: { confirm: 'Are you sure?' } if current_user == @deal.merchant.user %>
