<!DOCTYPE html>
<html>
  <head>
    <title>Nowcher</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>


  <body>
    <header class="header">
        <nav>
        <div class="header-left">
          <%= link_to image_tag('/assets/images/logo/logo.png'), root_path %>
        </div>
        
        <div class="header-right">
          <%= render '/partial/login_items' %>
        </div>
        </nav>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-container"></div>
    </footer>
  </body>

  
</html>
