<!DOCTYPE html>
<html>
  <head>
    <title>Nowcher</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Numans" rel="stylesheet">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>


  <body>
    <header class="header">
        <div class="header-left">
          <%= link_to image_tag('logo/home_logo.jpg'), root_path %>
        </div>
        <div class="header-right">
          <%= render '/partial/login_items' %>
        </div>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-logo"><%= image_tag 'logo/footer_logo.jpg' %></div>
      </div>
    </footer>
  </body>

  
</html>
