<!DOCTYPE html>
<html>
  <head>
    <title>Ca2smp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <main>
    <header>
      <%= link_to 'Home', root_path %>
      <%= render '/partial/login_items' %>
      <%= link_to 'Merchant', merchants_path %> 


    </header>
    <body>
      <%= yield %>
    </body>
    <footer></footer>
  </main>
  
</html>
