<!DOCTYPE html>
<html>
  <head>
    <title>Ca2smp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <main>
    <header class="header">
        <nav>
        <%= link_to 'Home', root_path %>
        <div class="header-right">
          <%= render '/partial/login_items' %>
        </div>
        </nav>
    </header>
    <body>
      <%= yield %>
    </body>
    <footer>
      <div class="footer-container"></div>
    </footer>
  </main>
  
</html>
